/*  */
:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eceff1;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light-blue: #1F6AB1;
  --red: #FF0012;
  --green: rgb(43, 132, 43);
  --maroon: rgb(118, 1, 1);
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira sans', 'sans sarif';

}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--dark);
  color: #FFF;
}

header{
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}

header h1, h1{
  font-size: 2.5rem;
  text-align: center;
  font-weight: 300;
  justify-content: center;
  color: var(--gray);
  margin-bottom: 1rem;
}

input, button{
  appearance: none;
  outline: none;
  border: none;
  transition: all .2s ease-in-out;
  background: none;
}

#task {
  display: flex;
}

#task-input{
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  width: 50rem;
  border: 1px;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#Task-input::placeholder{
  color: var(--gray);
}

#task-input:focus{
  box-shadow: inset 0 0 20px rgba(99, 11, 11, 0.7);
  background-color: var(--darkest);
}

#submit-task{
  border: none;
  color: var(--light);
  font-size: 1.65rem;
  font-weight: 800;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}
#submit-task:hover{
  opacity: 0.8;
}
#submit-task:active{
  /* transform: scale(.97); */
  opacity: 0.5;
}

main{
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list{
  padding: 1rem;
}

.task-list h2{
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: var(--gray);
}

#tasks .Task{
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px;
  width: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#tasks .Task .content{
  flex: 1 1 0%;
  flex-wrap: wrap;
  flex-direction: column;
}

#tasks .Task:hover{
  transform: rotate(-.2deg);
}
#tasks .Task .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  overflow: scroll;
  transition: 0.5s;
}
#tasks .Task .content .text:not(:read-only){
  color: var(--purple);
} 

#tasks .Task .actions{
  display: flex;
  margin: 0 -0.5rem;
}

.Task .actions button{
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.5s;
}

.Task .actions button:hover{
  opacity: 0.8;
}
.Task .actions button:active{
  transform: scale(.97);
  opacity: 0.5;
}

.Task .actions .edit, .delete, .done{
  background-image: linear-gradient(to right, var(--gray), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Task .actions .delete{
  background-image: linear-gradient(to left, var(--light-blue), var(--red));
}
.Task .actions .done{
  background-image: linear-gradient(to bottom, var(--green), var(--maroon));
}
  
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media(min-width: 800px) {
  #tasks .Task {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 550px) {
  #tasks .Task{width: 80%;}
  h4 { font-size: 2.8rem; }
}

@media (max-width: 800px){
  #tasks .Task{
    display: block;
    flex-wrap: wrap;
  }
  #tasks .Task .actions{
    display: block;
  }
  #tasks .Task .content .text{
    flex-wrap: wrap;
  }

}